body {
  background: #fff;
  color: #000; }

.navbar {
  opacity: 1;
  min-height: 80px; }

.nav-item {
  padding-left: 15px; }

#hero-section {
  background: url("../img/hero-img.jpg");
  min-height: 700px;
  background-size: cover;
  background-attachment: fixed; }

#blackbread {
  background: url("../img/bread-black-flipped.jpg");
  min-height: 400px;
  background-size: cover; }

#customer-advantage {
  background: url("../img/baguette.jpg");
  min-height: 500px;
  background-size: cover; }

#we-offer {
  background: url("../img/breadbasket.jpg");
  min-height: 500px;
  background-size: cover; }

.dark-overlay {
  background-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 700px; }

.home-inner {
  padding-top: 150px; }

.value-inner {
  padding-top: 50px;
  padding-bottom: 50px; }

.hero-left {
  padding: 40px 0; }

.hero-text {
  padding-bottom: 50px; }

.hero-logo {
  margin: auto;
  width: 50%; }

.card-body {
  text-align: center;
  background-color: black;
  color: white; }

.text-invert-color {
  color: white; }
