$bg-color: #fff;
$font-color: #000;
$primary-color: #000;
$bright-overlay:rgba(255,255,255,0.2);

body{
  background:$bg-color;
  color:$font-color;
}

.navbar{
  opacity:1;
  min-height: 100px;
}


#hero-section{
  background:url('../img/hero-img.jpg');
  min-height:700px;
  background-size:cover;
  background-attachment:fixed;
}

#blackbread {
  background:url('../img/bread-black-flipped.jpg');
  min-height:400px;
  background-size:cover;
}

#customer-advantage{
  background: url('../img/baguette.jpg');
  min-height:500px;
  background-size:cover;
}

.bright-overlay{
  background-color:$bright-overlay;
  position:absolute;
  top:0;
  left:0;
  width:100%;
  min-height:700px;
}

.home-inner{
  padding-top:150px;
}

.value-inner {
  padding-top: 50px;
  padding-bottom: 50px;
}

.hero-left{
    padding: 40px 0;
}


.hero-text {
  padding-bottom: 50px;
}

.hero-logo {
  margin: auto;
  width: 50%;
}

.card-body{
  text-align: center;
  background-color: black;
  color: white;
}

.text-invert-color {
  color: white;
}